
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 
        .block
            .block_header
                p.title_block.
                    hatchling plan
            .block_main
                .block_main_1
                    h2.main_coast
                    |    $25
                    p.coast_inf
                .block_main_2 
                    ul
                        li.
                           Unlimited Support 
                        li.
                            5GB Server space  
                        li.
                            2 Users per Project  
                        li.
                            Email Integration 
                        li.
                            Unlimited Download 
            button.btn 
            |    choose plan
                
        .block 
            .block_header
                p.title_block.
                    hatchling plan
            .block_main
                .block_main_1
                    h2.main_coast
                        $59
                    p.coast_inf
                .block_main_2 
                    ul
                        li.
                           Unlimited Support 
                        li.
                            5GB Server space  
                        li.
                            2 Users per Project  
                        li.
                            Email Integration 
                        li.
                            Unlimited Download 
            button.btn 
            |    choose plan
        .block
            .block_header
                p.title_block.
                    hatchling plan
            .block_main
                .block_main_1
                    h2.main_coast
                        $79
                    p.coast_inf
                .block_main_2 
                    ul
                        li.
                           Unlimited Support 
                        li.
                            5GB Server space  
                        li.
                            2 Users per Project  
                        li.
                            Email Integration 
                        li.
                            Unlimited Download 
            button.btn 
            |    choose plan